@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tahoma', 'Verdana', 'MS Sans Serif', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  text-rendering: optimizeSpeed;
}

* {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  text-rendering: optimizeSpeed;
}

@layer utilities {
  .win2k-window {
    background: linear-gradient(180deg, #0054E3 0%, #0054E3 20%, #D4D0C8 20%, #D4D0C8 100%);
    border: 2px solid;
    border-color: #DFDFDF #808080 #808080 #DFDFDF;
    box-shadow: inset 1px 1px 0 0 #FFFFFF, 1px 1px 0 0 #000000;
  }

  .win2k-button {
    background: #D4D0C8;
    border: 2px solid;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
    box-shadow: inset 1px 1px 0 0 #DFDFDF, inset -1px -1px 0 0 #000000;
    cursor: pointer;
  }

  .win2k-button:active {
    border-color: #808080 #FFFFFF #FFFFFF #808080;
    box-shadow: inset 1px 1px 0 0 #000000, inset -1px -1px 0 0 #DFDFDF;
  }

  .desktop-icon {
    transition: all 0.1s;
  }

  .desktop-icon:hover {
    filter: brightness(1.1);
  }

  .desktop-icon:active {
    transform: translateY(1px);
  }
}
